# Ignore all
*

# # Unignore all with extensions
# !*.*

# Unignore all dirs
!*/

# Ignore all dirs starting with a dot
.*/

build/

!*.cpp
!*.c
!*.py
!*.ipynb
!*.js
!*.txt
!*.md

# Ignore all files starting with a dot
.*